body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

#menu {
  position: fixed;
  top: 0; left: 0;
  width: 300px; height: 100%;
  background: rgba(20, 20, 20, 0.95);
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateX(-100%); /* Menüyü solda saklar */
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 2rem;
  text-align: center;
}